{% extends "base.html" %}

{% block content %}
<div class="container px-5 py-5 text-center">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1>Erreur interne du serveur</h1>
        </div>
    </div>
</div>
<div class="container px-5 py-5 text-center">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <p>Désolé, quelque chose s'est mal passé de notre côté. Nos techniciens sont informés et travaillent à résoudre le problème.</p>
            <p>Vous pouvez essayer de <a href="">recharger la page</a> ou retourner à la <a href="/">page d'accueil</a>.</p>
        </div>
    </div>
</div>
{% endblock %}